<main id="pages-new">
    <h1> Update <%= @spell[:name] %> </h1>
    <form action="<%=spell_update_path(@spell[:id])%>" method="POST">
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <input type="hidden" name="_method" value="put">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" value="<%= @spell[:name] %>" />
        </div>
        <div class="field">
        <label>Type</label>
        <input type="text" name="category" value="<%= @spell[:category] %>" />
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="description"  ><%= @spell[:description] %> </textarea>
        </div>
        <input type="submit" value="Update Spell">
    </form>
</main>