<<<<<<< HEAD
<h1> Show Spells </h1>

<% @spells.each do |spell|%>
    <p><%= spell[:name]%> </p>
    <p><%= spell[:description]%></p>
    <p><%= spell[:type]%></p>
<% end %>
=======
<main id="pages-index">

    <h1> All the spells </h1>
    <section class="card-deck">
    <%spells.each do |spell|%>
        <div class="card <%=spell[:type]%>">
            <h5><%=spell[:name]%></h5>
            <p><%=spell[:description]%></p>
            <%= link_to "See More", spell_path(spell[:id])%>
        </div>
        <%end%>
        
    </section>
    

</main>
>>>>>>> e26a94fc549c543be5cb1fd442975e3f8d642cb5
