<main id="pages-show">
    <h1 class="<%=@spell.category%>"><%=@spell.name%></h1>
    <section class="spell-content"> 
        <h2>Type: <%=@spell.category.capitalize%></h2>
        <p><%=@spell.description%> </p>
        <div class="button-container"> 
            <%= button_to "Delete Spell", {action: "destroy", id: @spell.id}, {method: :delete, class: "btn danger", data: {confirm: "Are you sure?"}}%>
            <%= button_to "Update Spell", {action: "edit", id: @spell.id}, {method: :get, class: "btn warning"}%>
        </div>
    </section>
</main>
